/*! Reset */
/*!------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}

/*! Header */
/*!------------------------------------------------- */
header {
    background-color: #0093E9;
background-image: linear-gradient(160deg, #010f18 0%, #80D0C7 100%);
padding: 1rem;
}

.background-galaxy{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 1)), url(./img/header-galaxy.jpg);
    background-size: cover;
    background-repeat: none;
}

header a img {
    width: 150px;
}

header .sign-in {
    float:right;
    color: #ffd500;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-top: 2rem;
}

#muteButton {
    border: none;
    color: #ffd500;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
}
#muteButton:hover {
    cursor: pointer;
    border-bottom: 2px solid #ffd500;
}


header .sign-in a{
    color: #ffd500;
    text-decoration: none;
}

header .sign-in a:hover{
    border-bottom: 2px solid #ffd500;
}

.trailer-button{
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    border: none;
}

.trailer-button:hover{
    box-shadow: 0px 0px 20px #08c1ff;    
}

.hero{
    text-align: center;
}

/*! Nav sticky */
/*!------------------------------------------------- */

nav.sticky {
padding: 1rem;
background-color: #000000;
text-align: center;
position: sticky;
top: 0rem;
z-index: 1;
}

nav.sticky a {
    
    text-decoration: none;
    color: white;
    margin-right: 5rem;
    letter-spacing: 1px;
}

nav.sticky a:hover {
    color: #ffd500;
    font-weight: 900;
}

/*! Nav banner */
/*!------------------------------------------------- */


nav.banner .hero{
    position: absolute;
    top: 60%;
    left: 15%;
    color: white;
    font-size: 50px;
}

.banner-image{

    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url(./img/2828899.jpg);
    height: 1030px;
}

nav.banner .hero h2{
    font-size: 65px;
    text-shadow: 0px 2px 4px black;
}

nav.banner .hero h3{
    font-size: 30px;
    color: #ffd500;
    text-shadow: 0px 1px 1px rgb(255, 255, 255);
}

/*! Main */
/*!------------------------------------------------- */

main{
    padding: 4rem;
    text-align: justify;
}

/*! Slack Icon */
/*!------------------------------------------------- */

.r2d2{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
}

.r2d2:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px red;
}

.center-me{
    color: white;
    display: flex;
    
}

h1{
    text-align: center;
}

.margin-middle{
    margin: 30px;
}

.image-shadow{
    border-radius: 15px;
    box-shadow: 0px 0px 20px blue;
}

@media only screen and (max-width: 1000px) {
    img[src$="./img/general kenobi.gif"] {
      display: none;
    }
  }

  @media only screen and (max-width: 1000px) {
    img[src$="./img/hello-there.gif"] {
      display: none;
    }
  }

  footer{
    display:flex;
    margin-top: auto;
    color: white;
    justify-content: center;
    box-shadow: 0px 0px 20px blue;
    padding: 30px;
  }

  